@font-face{
    font-family:"pokemon-gb";
    src:url("https://candyfonts.com/wp-data/2018/10/13/9716/Pokemon GB.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/13/9716/Pokemon GB.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/13/9716/Pokemon GB.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design Header */
/* ------------------------------------------------------------------------------------------------------------------- */

.site-content{
    height: 100vh;
    width: 65%;
    background-color: #F8F7DE;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-pokemon{
    width: 500px;
    height: 200px;
}

/* style index */
/* ---------------------------------------------------- */
.container-trainer{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.choise-trainer{
    width: 60%;
}

.container-message{
    width: 80%;
    height: auto;
    background-color: white;
    border: 3px solid #34411E;
    border-radius: 40px 0 40px 0;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-message p {
    font-family:"pokemon-gb";
    font-size: 13px;
    margin: 0;
}

.form-name-trainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form-name-trainer label{
    font-family:"pokemon-gb";
    font-size: 12px;
    margin-bottom: 15px;
}

.form-name-trainer input{
    background-color: transparent;
    padding: 8px 15px;
    border: 2px solid #394126;
}
.form-name-trainer input::placeholder{
    font-family:"pokemon-gb";
    font-size: 11px;
    margin: 0;
}

.btn-trainer-name{
    font-family:"pokemon-gb";
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: transparent;
    border: 3px solid #394126;
}

.img-trainer{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-trainer img{
    width: 70%;
    height: 90%;
}


/* choose user pokemon */
/* ---------------------------------------------------- */

.site-content-choose{
    height: auto;
    width: 65%;
    background-color: #F8F7DE;
    margin: auto;
    overflow: hidden;
}

.container-ball{
    display: flex;
   justify-content: space-evenly; 
   margin: 50px;
}
.ball {
   display: flex;
   justify-content: space-between; 
   width: 60%;
}

.container-message{
    font-family:"pokemon-gb";
    font-size: 13px;
    margin: 0;
}

.form-name-trainer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form-name-trainer label{
    font-family:"pokemon-gb";
    font-size: 12px;
    margin-bottom: 15px;
}

.form-name-trainer input{
    background-color: transparent;
    padding: 8px 15px;
    border: 2px solid #394126;
}
.form-name-trainer input::placeholder{
    font-family:"pokemon-gb";
    font-size: 11px;
    margin: 0;
}

.btn-trainer-name{
    font-family:"pokemon-gb";
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: transparent;
    border: 3px solid #394126;
}

.img-trainer{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-trainer img{
    width: 70%;
    height: 90%;
} 

.ball-button{
    background-color: transparent; 
    border: none;
} 

.ball-size{
    width: 40%;
    border: red 6px solid;
    border-radius: 80%;

} 
.select-pokemon-fire {
    font-family: "pokemon-gb";
    width: 500px;
    height: 450px;
    background-color: white;
    border: 3px solid #FF7111;
    border-radius: 40px;
} 
.select-pokemon-water {
    font-family: "pokemon-gb";
    width: 500px;
    height: 450px;
    background-color: white;
    border: 3px solid #717FFF;
    border-radius: 40px;
    margin-left: 5px;
} 
.select-pokemon-plant {
    font-family: "pokemon-gb";
    width: 500px;
    height: 450px;
    background-color: white;
    border: 3px solid #3BCB01;
    border-radius: 40px;
    margin-left: 5px;
} 

.type-button{
 background-color: transparent;
 border: none;
} 

.box-type{
    display: flex;
    justify-content: space-around;
}

.dir{
    display: flex;
    flex-direction: row
}
.fire-pokemon{
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.water-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center; 
} 
.plant-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center; 
} 
.type{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo-type{
    width: 70%;
}


/* style figth page */
/* ---------------------------------------------------- */

.container-fight{
    position: relative;
    width: 100%;
    height: 75%;
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.pokemon-bottom{
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(70px, -80px);
}

.pokemon-top{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 30px);
}

.pokemon img{
    width: 300px;
    height: 300px;
}

.card_pokemon_bottom{
    position: relative;
    width: 100%;
    height: 100%;
}

.item-card-bottom{
    width: 380px;
    height: 130px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 25px 40px 30px 30px;
    background-image: url(../img/Rectangle\ 42.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.card_pokemon_top{
    position: relative;
    width: 100%;
    height: 100%;
}

.item-card-top{
    width: 380px;
    height: 130px;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 25px 40px 30px 30px;
    background-image: url(../img/Rectangle\ 42.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.name-level{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:"pokemon-gb";
    font-size: 18px;

}


/* bar progess */

.item-progress{
    width: 100%;
    height: 15px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374122;
    border-radius: 100px;
}
.item-progress p{
    margin: 0;
    font-family:"pokemon-gb";
    font-size: 12px;
    color: white;
    transform: translateY(3px);
    margin-right: 10px;
}
  
  .item-label-title{
    color: white;
    font-size: 15px;
    margin: 0;
  }
  .item-label-percentage{
    color: white;
    font-size: 15px;
    margin: 0;
  }
  
  .progress {
    background: white;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    width: 100%;
  }
  
  .progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background-color: #A8DD3A;
    height: 15px;
    width: 80%;
  }
  
  .bar-progress.actif-progress-bar{
    display: block;
  }

  .pv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family:"pokemon-gb";
    font-size: 13px;
    margin-top: 5px;
  }


.message-action-pokemon{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 500px;
    height: auto;
    background-color: white;
    border: 3px solid #34411E;
    border-radius: 40px 0 40px 0;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-action-pokemon p {
    font-family:"pokemon-gb";
    font-size: 13px;
    margin: 0;
}


/* style console page fight */

.container-console{
    width: 90%;
    height: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-pokemon-leftover{
    font-family:"pokemon-gb";
    font-size: 18px;
}

.container-pokebaall{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.container-pokebaall img {
    height: 60px;
    width: 60px;
    margin: 0;
}

.item-pokeball{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pokeball_2{
    margin-left: 40px;
}

.name-pokemon-leftover{
    margin-top: 10px;
    font-family:"pokemon-gb";
    font-size: 11px;
}


/* button attack */

.container-button-attack{
    display: flex;
}

.button-attack{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324F67;
    border-radius: 100px;
    transform: translateY(20px);
}

.button-attack img{
    transform: translateY(-10px);
}

.button-super-attack{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324F67;
    border-radius: 100px;
    margin-left: 40px;
    transform: translateY(-20px);
}

.leave-btn{
    width: 100%;
    text-align: center;
    transform: translateY(-50px);
}

.leave-btn button{
    border: 2px solid #394126;
    background-color: transparent;
    padding: 5px 30px;
    font-family:"pokemon-gb";
    font-size: 11px;
    border-radius: 100px;
}

/* overlay leave */

.overlay-leave{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    opacity: 85%;
    visibility: hidden;
}

.overlay-leave.active{
    visibility: visible;
}

.overlay-leave h2{
    color: white;
    font-family:"pokemon-gb";
    font-size: 20px;

}

.overlay-leave .container-button{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.overlay-leave .continu-btn{
    width: 100%;
    text-align: center;
}

.overlay-leave .continu-btn button{
    border: 2px solid white;
    background-color: transparent;
    padding: 5px 30px;
    font-family:"pokemon-gb";
    font-size: 11px;
    border-radius: 100px;
    color: white;
}

.overlay-leave .btn-yes{
    width: 100%;
    text-align: center;
}

.overlay-leave .btn-yes button{
    border: 2px solid white;
    background-color: white;
    padding: 5px 30px;
    font-family:"pokemon-gb";
    font-size: 11px;
    border-radius: 100px;
}